<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
</head>
<body>
<div class="jumbotron"><h1>Group Detail</h1></div>
<table class="table">
    <thead>
    <tr>
        <th>Group ID</th>
        <th>Group Name</th>
        <th>Group Description</th>
        <th>Creation Date</th>
        <th>Public</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-bind="group.groupId"></td>
        <td ng-bind="group.groupName"></td>
        <td ng-bind="group.description"></td>
        <td ng-bind="group.createDate"></td>
        <td ng-bind="group.publicBool"></td>
    </tr>
    </tbody>
</table>

<h2>Coaches:</h2>
<table class="table">
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in members">
        <td ng-show="member.coachBool" ng-bind="member.lastName"></td>
        <td ng-show="member.coachBool" ng-bind="member.firstName"></td>

    </tr>
    </tbody>
</table>

<h2>Admins:</h2>
<table class="table">
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in members">
        <div ng-show="member.adminBool==true">
            <td ng-bind="member.lastName"></td>
            <td ng-bind="member.firstName"></td>
        </div>

    </tr>
    </tbody>
</table>

<h2>Members:</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            <a href="#groups/groupdetail" ng-click="sortType = 'userId'; sortReverse = !sortReverse" >
                User ID
                <span ng-show="sortType == 'userId' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'userId' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/groupdetail" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">
                Last Name
                <span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/groupdetail" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
                First Name
                <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/groupdetail" ng-click="sortType = 'joinDate'; sortReverse = !sortReverse">
                Join Date
                <span ng-show="sortType == 'joinDate' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'joinDate' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="member in members | orderBy:sortType:sortReverse">
        <td><a ng-bind="member.userId"></a></td>
        <td><a ng-bind="member.lastName"></a></td>
        <td><a ng-bind="member.firstName"></a></td>
        <td ng-bind="member.joinDate"></td>
    </tr>
    </tbody>

</body>
</html>