<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<div class="jumbotron"><h1>Groups</h1></div>

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="Search Group Names" ng-model="searchNames">

        </div>
    </div>
</form>

<table class="table" ng-init="membership()">
    <thead>
    <tr>
        <th>
            <a href="#groups/groups" ng-click="sortType = 'groupId'; sortReverse = !sortReverse" >
                Group ID
                <span ng-show="sortType == 'groupId' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'groupId' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/groups" ng-click="sortType = 'groupName'; sortReverse = !sortReverse">
                Group Name
                <span ng-show="sortType == 'groupName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'groupName' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/groups" ng-click="sortType = 'joinDate'; sortReverse = !sortReverse">
                Join Date
                <span ng-show="sortType == 'joinDate' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'joinDate' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/groups" ng-click="sortType = 'adminBool'; sortReverse = !sortReverse">
                Admin
                <span ng-show="sortType == 'adminBool' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'adminBool' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/groups" ng-click="sortType = 'coachBool'; sortReverse = !sortReverse">
                Coach
                <span ng-show="sortType == 'coachBool' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'coachBool' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in groups | orderBy:sortType:sortReverse | filter:searchNames">
        <td ng-bind="x.groupId"></td>
        <td><a ng-bind="x.groupName"></a></td>
        <td>{{unixTimeConvert(x.joinDate)}}</td>
        <td ng-bind="x.adminBool"></td>
        <td ng-bind="x.coachBool"></td>
    </tr>
    </tbody>
</table>

</body>
</html>