<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Groups</title>
</head>
<body>
<div class="jumbotron"><h1>My Groups</h1></div>
<table class="table" ng-init="membership()">
    <thead>
    <tr>
        <th>
            <a href="#groups/mygroups" ng-click="sortType = 'groupName'; sortReverse = !sortReverse">
                Group Name
                <span ng-show="sortType == 'groupName' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'groupName' && sortReverse" class="fa fa-caret-up"></span>
        </a>
        </th>
        <th>
            <a href="#groups/mygroups" ng-click="sortType = 'joinDate'; sortReverse = !sortReverse">
                Join Date
                <span ng-show="sortType == 'joinDate' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'joinDate' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/mygroups" ng-click="sortType = 'adminBool'; sortReverse = !sortReverse">
                Admin
                <span ng-show="sortType == 'adminBool' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'adminBool' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
        <th>
            <a href="#groups/mygroups" ng-click="sortType = 'coachBool'; sortReverse = !sortReverse">
                Coach
                <span ng-show="sortType == 'coachBool' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'coachBool' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in groups | orderBy:sortType:sortReverse">
        <td><a ng-bind="x.groupName"></a></td>
        <td>{{unixTimeConvert(x.joinDate)}}</td>
        <td ng-bind="x.adminBool"></td>
        <td ng-bind="x.coachBool"></td>
    </tr>
    </tbody>
</table>
</body>
</html>