/*html {*/
    /*position: relative;*/
    /*min-height: 100%;*/
/*}*/
/*body {*/
    /*!* Margin bottom by footer height *!*/
    /*margin-bottom: 60px;*/
/*}*/
/*.sticky-footer {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*!* Set the fixed height of the footer here *!*/
    /*height: 60px;*/
    /*background-color: #f5f5f5;*/
/*}*/

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.sticky-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.sticky-footer, .sticky-push {
    height: 4em;
}